In [ ]:
novar = 10
print(novar)

10

In [ ]:
a1 = 10
a2 = 25
print(a1+a2)
print(a1-a2)
print(a1*a2)
print(a2/a1)
print(a2//a1)
print(a2%a1)
print(a1**a2)

35
-15
250
2.5
2
5
10000000000000000000000000

In [12]:
var = 25
print(var)

25

In [13]:
var = 11.03
print(var)

11.03

In [14]:
print(int(4.5))

4

In [15]:
print(float(-10))

-10.0

In [16]:
print(str(10.01))

10.01

In [18]:
print(bool(0))

False

In [22]:
print(bool([]))

False

In [23]:
print(bool([1, 3, 4]))

True

In [24]:
ismale = True
print(type(ismale))
print(bool(ismale))

<class 'bool'>
True

In [27]:
def outer():
  x = 10
  def inner():
    nonlocal x
    x += 20
  inner()
  print(x)
outer()

30

In [31]:
def gen():
  yield print(10)
  yield print("hello")
  yield print("world")
  yield print(10+2)
for i in gen():
  i
  break
gen()

10

In [32]:
score = input()
if 65 <= int(score):
  print(False)
else:
  print(True)

70
False

In [34]:
age = input("input: ")
print(type(age))
print(type(int(age)))
print(type(age))

input: 40
<class 'str'>
<class 'int'>
<class 'str'>

In [35]:
age = int(input())
print(type(age))

3
<class 'int'>

In [36]:
a = 1
b = 2
c = a+b

print(a, b, c)

1 2 3

In [38]:
print(a, b, c, end='\n,,,,')

1 2 3
,,,,

In [40]:
print(a, b, end="")
print(c)

1 23

In [43]:
print(type(a/b))
print(type(a//b))
print(type(a%b))
print(type(a**b))

<class 'float'>
<class 'int'>
<class 'int'>
<class 'int'>

In [44]:
print(a/b, a//b, a%b)

0.5 0 1

In [51]:
try:

  print(a/0)
except ZeroDivisionError:
  print("error")

error

In [189]:

x = int(input("숫자"))
a = input("/, *, +, -")
y = int(input("숫자"))

if a == "/":
  print(x%y)
elif a == "*":
  print(x*y)
elif a == "+":
  print(x+y)
elif a == "-":
  print(x-y)

else:
  print("불가능한 사칙연산입니다")

숫자3
/, *, +, --
숫자1
2

In [59]:
print("vs"=="VS")

False

In [60]:
print(True or False)

True

In [61]:
print(True and True)

True

In [62]:
print(True and False)

False

In [63]:
print(not False)

True

In [64]:
print(not 0)

True

In [65]:
print(0)

0

In [67]:
print(1 == 2 and "hello" == "hello")

False

In [72]:
print(type(if))

SyntaxError: invalid syntax (<ipython-input-72-2ba2aa2e25b8>, line 1)

In [74]:
if False:
  print("true")
else:
  print("false")
#

false

In [75]:
number = 3
if number %2 == 0:
  print("even")
else:
  print("odd")

odd

In [79]:
name = "yes"
age = 10
if name == "yes" and age == 10:
  print(f"yes는 지금 {age} 입니다")
else:
  print("false")

<class 'str'>

In [80]:
name =""
if not name:
  print(1)
else:
  print(True)

1

In [83]:
if age >= 30:
  print("30대 입니다")
else:
  if age >= 20:
    print("20대 입니다")
  else:
    print("미성년자 입니다")

미성년자 입니다

In [85]:
age = 7
if age >= 30:
  print("30대 입니다")
elif age >= 20:
  print("20대 입니다")
elif age >= 10:
  print("10대 입니다")
else:
  print("@#$%")

@#$%

In [86]:
name1 = "jone"
name2 = "jhon"
name3 = "tutu"

gorani = [False, "3", 3]
print(gorani)

[False, '3', 3]

In [87]:
a = [1, 2]
b = [3, 4]
print(a+b)

[1, 2, 3, 4]

In [89]:
print(a*3)

[1, 2, 1, 2, 1, 2]

In [90]:
a = [1] * 10
print(a)

[1, 1, 1, 1, 1, 1, 1, 1, 1, 1]

In [92]:
nm = [1, 2, 3, 4, 5]
print(nm[0:-2])

[1, 2, 3]

In [93]:
nm[-1] = 'rlatnghkdan'
print(nm)

[1, 2, 3, 4, 'rlatnghkdan']

In [95]:
print(nm[:3:3])

[1]

In [96]:
print(nm[-3:-2])

[3]

In [98]:
print(nm[::2])

[1, 3, 'rlatnghkdan']

In [99]:
nm.pop(2)
b = nm.pop(3)
print(nm)
print(b)

[1, 2, 4]
rlatnghkdan

In [100]:
oo = "hi there!!"
print(oo[3])

t

In [101]:
print(oo)

hi there!!

In [104]:
newword = "j" + oo[2:]
print(newword)

j there!!

In [109]:
for i in range(1, 10):
  print(i, end="\n "*3)

1


 2


 3


 4


 5


 6


 7


 8


 9

In [110]:
a = range(10)
ㅠㅠ = list(a)

In [111]:
print(ㅠㅠ)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [112]:
for uu in ㅠㅠ:
  print(uu, end="")

0123456789

In [114]:
print(a[-6:-1:-1])

range(4, 9, -1)

In [115]:
print(a)

range(0, 10)

In [116]:
print(ㅠㅠ)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [118]:
print(ㅠㅠ[-6:-1:1])

[4, 5, 6, 7, 8]

In [120]:
print(ㅠㅠ[-3:4:-1])

[7, 6, 5]

In [122]:
numbers = [1, 2, 3, 4, 5, 6]

print(1 in numbers)
print(10 in numbers)
print(10 not in numbers)

True
False
True

In [123]:
classroom = ["kyle", "tom", "ezart", "glen"]
mates = ["tom", "glen"]
for team in classroom[0:2]:
  if team in mates:
    print(f"{team}은 같이 지냅니다")

tom은 같이 지냅니다

In [125]:
for number in numbers:
  if number % 2 == 0:

    print(f"{number} is even")

2 is even
4 is even
6 is even

In [134]:
x = 10
assert x >= 9, "x는 9가 아닙니다"

In [135]:
for i in range(len(classroom)):
  print(classroom[i])
  print(i)
  print("go home")

kyle
0
go home
tom
1
go home
ezart
2
go home
glen
3
go home

In [138]:
for i in range(len(classroom)):
  if classroom[i]=="ezart":
    i -= 1
    print(f"{classroom[i]} is here")

tom is here

In [139]:
while i in range(len(classroom)):
  print(classroom[i])
  i += 1

glen

In [140]:
numbers = [10, 20, 30, 40, 50]
i = 0

while i < len(numbers):
    print(numbers[i])
    i += 1

10
20
30
40
50

In [145]:
cod = list(range(50))
es = []
print(cod)
while cod:
  del_n= cod.pop()
  print(del_n)
  print("--"*100)
  es.append(del_n)
  print("--"*100)

  print(es)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49]
49
--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
[49]
48
--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
[49, 48]
47
--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
[49, 48, 47]
46
--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
[49, 48, 47, 46]
45
--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
[49, 48, 47, 46, 45]
44
--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
[49, 48, 47, 46, 45, 44]
43
--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
[49, 48, 47, 46, 45, 44, 43]
42
--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
[49, 48, 47, 46, 45, 44, 43, 42]
41
--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
[49, 48, 47, 46, 45, 44, 43, 42, 41]
40
--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
[49, 48, 47, 46, 45, 44, 43, 42, 41, 40]
39
--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
[49, 48, 47, 46, 45, 44, 43, 42, 41, 40, 39]
38
--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
[49, 48, 47, 46, 45, 44, 43, 42, 41, 40, 39, 38]
37
--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
[49, 48, 47, 46, 45, 44, 43, 42, 41, 40, 39, 38, 37]
36
--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
[49, 48, 47, 46, 45, 44, 43, 42, 41, 40, 39, 38, 37, 36]
35
--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
[49, 48, 47, 46, 45, 44, 43, 42, 41, 40, 39, 38, 37, 36, 35]
34
--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
[49, 48, 47, 46, 45, 44, 43, 42, 41, 40, 39, 38, 37, 36, 35, 34]
33
--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
[49, 48, 47, 46, 45, 44, 43, 42, 41, 40, 39, 38, 37, 36, 35, 34, 33]
32
--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
[49, 48, 47, 46, 45, 44, 43, 42, 41, 40, 39, 38, 37, 36, 35, 34, 33, 32]
31
--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
[49, 48, 47, 46, 45, 44, 43, 42, 41, 40, 39, 38, 37, 36, 35, 34, 33, 32, 31]
30
--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
[49, 48, 47, 46, 45, 44, 43, 42, 41, 40, 39, 38, 37, 36, 35, 34, 33, 32, 31, 30]
29
--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
[49, 48, 47, 46, 45, 44, 43, 42, 41, 40, 39, 38, 37, 36, 35, 34, 33, 32, 31, 30, 29]
28
--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
[49, 48, 47, 46, 45, 44, 43, 42, 41, 40, 39, 38, 37, 36, 35, 34, 33, 32, 31, 30, 29, 28]
27
--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
[49, 48, 47, 46, 45, 44, 43, 42, 41, 40, 39, 38, 37, 36, 35, 34, 33, 32, 31, 30, 29, 28, 27]
26
--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
[49, 48, 47, 46, 45, 44, 43, 42, 41, 40, 39, 38, 37, 36, 35, 34, 33, 32, 31, 30, 29, 28, 27, 26]
25
--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
[49, 48, 47, 46, 45, 44, 43, 42, 41, 40, 39, 38, 37, 36, 35, 34, 33, 32, 31, 30, 29, 28, 27, 26, 25]
24
--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
[49, 48, 47, 46, 45, 44, 43, 42, 41, 40, 39, 38, 37, 36, 35, 34, 33, 32, 31, 30, 29, 28, 27, 26, 25, 24]
23
--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
[49, 48, 47, 46, 45, 44, 43, 42, 41, 40, 39, 38, 37, 36, 35, 34, 33, 32, 31, 30, 29, 28, 27, 26, 25, 24, 23]
22
--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
[49, 48, 47, 46, 45, 44, 43, 42, 41, 40, 39, 38, 37, 36, 35, 34, 33, 32, 31, 30, 29, 28, 27, 26, 25, 24, 23, 22]
21
--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
[49, 48, 47, 46, 45, 44, 43, 42, 41, 40, 39, 38, 37, 36, 35, 34, 33, 32, 31, 30, 29, 28, 27, 26, 25, 24, 23, 22, 21]
20
--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
[49, 48, 47, 46, 45, 44, 43, 42, 41, 40, 39, 38, 37, 36, 35, 34, 33, 32, 31, 30, 29, 28, 27, 26, 25, 24, 23, 22, 21, 20]
19
--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
[49, 48, 47, 46, 45, 44, 43, 42, 41, 40, 39, 38, 37, 36, 35, 34, 33, 32, 31, 30, 29, 28, 27, 26, 25, 24, 23, 22, 21, 20, 19]
18
--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
[49, 48, 47, 46, 45, 44, 43, 42, 41, 40, 39, 38, 37, 36, 35, 34, 33, 32, 31, 30, 29, 28, 27, 26, 25, 24, 23, 22, 21, 20, 19, 18]
17
--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
[49, 48, 47, 46, 45, 44, 43, 42, 41, 40, 39, 38, 37, 36, 35, 34, 33, 32, 31, 30, 29, 28, 27, 26, 25, 24, 23, 22, 21, 20, 19, 18, 17]
16
--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
[49, 48, 47, 46, 45, 44, 43, 42, 41, 40, 39, 38, 37, 36, 35, 34, 33, 32, 31, 30, 29, 28, 27, 26, 25, 24, 23, 22, 21, 20, 19, 18, 17, 16]
15
--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
[49, 48, 47, 46, 45, 44, 43, 42, 41, 40, 39, 38, 37, 36, 35, 34, 33, 32, 31, 30, 29, 28, 27, 26, 25, 24, 23, 22, 21, 20, 19, 18, 17, 16, 15]
14
--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
[49, 48, 47, 46, 45, 44, 43, 42, 41, 40, 39, 38, 37, 36, 35, 34, 33, 32, 31, 30, 29, 28, 27, 26, 25, 24, 23, 22, 21, 20, 19, 18, 17, 16, 15, 14]
13
--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
[49, 48, 47, 46, 45, 44, 43, 42, 41, 40, 39, 38, 37, 36, 35, 34, 33, 32, 31, 30, 29, 28, 27, 26, 25, 24, 23, 22, 21, 20, 19, 18, 17, 16, 15, 14, 13]
12
--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
[49, 48, 47, 46, 45, 44, 43, 42, 41, 40, 39, 38, 37, 36, 35, 34, 33, 32, 31, 30, 29, 28, 27, 26, 25, 24, 23, 22, 21, 20, 19, 18, 17, 16, 15, 14, 13, 12]
11
--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
[49, 48, 47, 46, 45, 44, 43, 42, 41, 40, 39, 38, 37, 36, 35, 34, 33, 32, 31, 30, 29, 28, 27, 26, 25, 24, 23, 22, 21, 20, 19, 18, 17, 16, 15, 14, 13, 12, 11]
10
--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
[49, 48, 47, 46, 45, 44, 43, 42, 41, 40, 39, 38, 37, 36, 35, 34, 33, 32, 31, 30, 29, 28, 27, 26, 25, 24, 23, 22, 21, 20, 19, 18, 17, 16, 15, 14, 13, 12, 11, 10]
9
--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------

In [151]:
for i in [1, 2, 3, 4, 5, 6, 7]:
  print(i)
  f = []

  if i == 4:
    f.append(i)
    print(f)
    break

1
2
3
4
[4]

In [152]:
print(number)

6

In [157]:
new = 1, 4, 6, 7 + number
print(new)

(1, 4, 6, 13)

In [158]:
number = 0
while number <30 :
  number += 1
  if number % 2 == 0:
    continue
  print(number)

1
3
5
7
9
11
13
15
17
19
21
23
25
27
29

In [182]:
number = 0
while number < 100 :
  number += 1
  if number % 2 == 0:
    continue
  if number % 11 == 0:
    break
    print("d")
  print(number)

1
3
5
7
9